
@{
    ViewData["Title"] = "Index";
}

<h1>Home Index</h1>

@{
    var name = "GROGU";
    /*
     * more text comments
     */
    // for just one comment
    @*
    if you want to comment both in and outside of a codeblock
    *@
}
<p>Hej @name datumet är: @DateTime.Now.ToString()</p>
<!>
